body{
    margin: auto;/*center the body*/
}
select{
    border: 1px solid #ffffff;
    margin: 15px;
    padding: 15px;
}
table{
    text-align: center;
}
table td{
    border: 1px solid #ffffff96;
    color: #015351;
    font-weight: bold;
    padding: 10px;
   
    
}
.theader{
    background-color: #015351;
    color: #ffffff;
    padding: 10px;
  
}
.more{
    border: none;
}
.decline{
    border: 2px solid #015351;
    color: #ffffff;
}
.divMore{
    background-color: #015351;
    display:grid;
    grid-template-columns: auto auto auto auto;/*arrange the fields in 3 columns*/
    padding: 20px;
    margin: auto 50%;
}
.entry{
    margin:15px;
    background-color: #015351;
}
.entry > input {
    color: #c1ab80;
}
label{
    color: #ffffff;
    /* background-color: #015351; */
}
input{
    border: none;
    border-bottom: 2px solid #FC9E01;
    background-color: #015351;
}
.comment{
    border: 2px solid #FC9E01;
    padding: 20px;
}
.title{
    color:#ffffff;
    font-size: 24px;
}
#divMore{
    display: none;
}
.button{
    background-color: transparent;
    border: none;
}
.action{
    width: 20px;
    border: none;
}